body {
    background-color: rgb(243, 243, 250);
}
@font-face {font-family: "SF Distant Galaxy";
    src: url("../fonts/b357504117fd83d25e5a63601455b367.eot"); /* IE9*/
    src: url("../fonts/b357504117fd83d25e5a63601455b367.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/b357504117fd83d25e5a63601455b367.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/b357504117fd83d25e5a63601455b367.woff") format("woff"), /* chrome、firefox */
    url("../fonts/b357504117fd83d25e5a63601455b367.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Bicubik";
    src: url("../fonts/Bicubik.eot"); /* IE9*/
    src: url("../fonts/Bicubik.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Bicubik.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Bicubik.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}